<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <li class="nav-item">
      <a
        class="nav-link active"
        aria-current="page"
        href="https://mail.google.com/mail/u/0/?zx=w5hyrtd21jvi#inbox"
        >Gmail</a
      >
      <p>gmail/christianoller.dev</p>
    </li>
    <li class="nav-item">
      <a
        class="nav-link active"
        aria-current="page"
        href="https://www.linkedin.com/feed/?trk=homepage-basic_sign-in-submit"
        >LinkedIn</a
      >
      <span>linkedin/christianoller8</span>
    </li>
    <li class="nav-item">
      <a
        class="nav-link active"
        aria-current="page"
        href="https://github.com/christianoller8"
        >Github</a
      >
      <span>github/christianoller8</span>
    </li>
  </div>
</nav>
